# MODEL_MODE=torch
# MODEL_PATH=./models/wound-efficientnet-b0-binary.pt
# CONFIDENCE_THRESHOLD=0.70
MODEL_MODE=torch

MODEL_PATH=./models/wound-efficientnet-b0-binary.pt
CONFIDENCE_THRESHOLD=0.70

WOUND_TYPE_MODEL_PATH=./models/wound-type-efficientnet-b0-v1.pt
WOUND_TYPE_CONFIDENCE_THRESHOLD=0.60

ALLOWED_ORIGINS=http://localhost:3000